<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/athif/static/certificates.css">
    <title>Certificates</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
    </nav>
    <div class="container">
        <h1>Data Visualization</h1>
        <img src="/athif/images/datavisualization.png" alt="Data Visualization">
        <h1>Feature Engineering</h1>
        <img src="/athif/images/featureengineering.png" alt="Feature Engineering">
        <h1>Intro To Machine Learning</h1>
        <img src="/athif/images/introml.png" alt="Intro to ML">
        <h1>Intermediate Machine Learning</h1>
        <img src="/athif/images/interml.png" alt="Intermediate ML">
        <h1>Python Pandas</h1>
        <img src="/athif/images/pandas.png" alt="pandas">
        <h1>Structured Query Language</h1>
        <img src="/athif/images/sql.png" alt="SQL">
        <h1>Numpy Learning</h1>
        <img src="/athif/images/llc.png" alt="Numpy">
    </div>
</body>
</html>
