<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/athif/static/projects.css">
    <title>Projects</title>
</head>
<body>
    <nav>
        <a href="/athif/index.html">Home</a>
    </nav>
    <div class="container">
        <h1>Loan Prediction</h1>
        <p><pre>
This project predicts loan approval status using machine learning models on a dataset with applicant details like income, education, and credit history.
The data is preprocessed (handling missing values, encoding, etc.), and models like Logistic Regression and Random Forest are trained.
Random Forest performs the best with around 80% accuracy, making it effective for loan prediction tasks.
<a href="/athif/projects/LoanPrediction.html">Click here to view code</a></pre>
        </p>
        <h1>Sales Prediction</h1>
        <p><pre>
This project aims to predict item sales using machine learning on a retail dataset with store and item information.
After cleaning and feature engineering, models like Linear Regression and XGBoost are trained and evaluated.
XGBoost gives the best performance, showing high accuracy in predicting future item sales..
<a href="/athif/projects/salesprediction.html">Click here to view code</a></pre>
        </p>
    </div>

</body>
</html>